.no-focus:focus,
.no-focus:hover,
*:focus {
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}
.italic {
  font-style: italic;
}
#menu-container {
  margin-top: 64px;
}
.container {
  max-width: 95%;
  width: 95%;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 0;
  right: 0;
  padding-bottom: 30px;
}
.router-link,
.no-underline {
  text-decoration: none;
}
.fab-button {
  display: block;
  position: relative;
  right: 0;
  left: 0;
  margin: 0 auto;
}

@media screen and (max-width: 599px) {
  #menu-container {
    margin-top: 56px;
  }
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes zoomInRight {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.zoomInRight {
  animation-name: zoomInRight;
}
